<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618471527452-r4pf69pod3rt5k8ser4kksvk2h1red2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618471527452-r4pf69pod3rt5k8ser4kksvk2h1red2l</string>
	<key>API_KEY</key>
	<string>AIzaSyBWumtRhW5IMGuTnnbt4OI05gg-BKe9Mgo</string>
	<key>GCM_SENDER_ID</key>
	<string>618471527452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.potentnetwork.phrankstar</string>
	<key>PROJECT_ID</key>
	<string>phrankstarmanagement</string>
	<key>STORAGE_BUCKET</key>
	<string>phrankstarmanagement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618471527452:ios:d3a1725bb623a7f8c33bd9</string>
</dict>
</plist>